@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Count > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Membership Type</th>
                <th>Discount Rate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>
                        <a>@customer.Name</a>
                    </td>
                    <td>@customer.MembershipType.Name</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@Html.ActionLink("View Customer Data", "Details", new { id = customer.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no customers, yet.</p>
}