<!-- don't need this if you do it the easier way -->
@*@using Vidly.Models*@
<!-- this is ok -->
@*@model Vidly.Models.Movie*@
<!-- this is better -->
@model Vidly.ViewModels.RandomMovieViewModel
@{ 
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- this is a bad way of passing data from the controller -->
@*<h2>@( ((Movie) ViewData["Movie"]).Name)</h2>*@
<!-- this is a bad way of passing data from the controller -->
@*<h2>@ViewBag.Name</h2>*@

<!-- this is ok -->
@*<h2>@Model.Name</h2>*@

<!-- this is better -->
@*
    this is a comment
    on multiple lines
*@
@{
    var className = Model.Customers.ToList().Count > 1 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Date Added</th>
            <th>Number in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.Movie.Genre != null)
            {
                <td>@Model.Movie.Genre.Name</td>
            }
            else
            {
                <td><em>No Genre</em></td>
            }
            <td>@Model.Movie.ReleaseDate</td>
            <td>@Model.Movie.DateAdded</td>
            <td>@Model.Movie.NumberInStock</td>
        </tr>
    </tbody>
</table>